#signUp__panel {
}

#signUp__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#signUp__header {
    margin: 0;
    text-align: center;
}

form {
    width: 600px;
    max-width: calc(100vw - 4rem);
    background: white;
    padding: 1rem;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 40%, 0.5);
    margin: 1rem auto;
}

.form--wrapper {
    margin-top: 1rem;
}

.formField__wrapper {
    margin-top: 1rem;
}

.formField__label {
    display: block;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 1rem;
}

.formField__input {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}

input[type='submit'] {
    margin-top: 1rem;
}

.errorBanner {
    width: 100%;
    border: 1px solid lightgrey;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
    box-sizing: border-box;
}

.error {
    color: red;
}

.errorBorder {
    border-color: red;
}

.formField__requiredLabel {
    font-size: 10px;
    color: grey;
}
